body{
	background-color: #lightblue;
}

.right-space{
	margin-right: 1em;
}

.remove-float{
	float: none;
}

.top-space{
	margin-top: 1.5em;
}

.big-top-space{
	margin-top: 100px;
}

.large-padding{
	padding: 10px 15px;
}

.black{
	background-color: #222;
}

.white-text{
	color: white;
}

nav{
	text-align: right;
}

nav li{
	display:  inline-block;
	margin-right: 1em;
	font-size: 1.1em;
}

nav li a{
	color: white;
}

.white{
	background-color: white;
}

.border{
	border: solid 1px #eee;
}

form.link{
	display: inline-block;
}

form.link input[type="submit"]{
	background-color: transparent;
	display: inline-block;
	border: none;
	color: rgb(200, 50, 50);
}

div{
	margin: 0 auto;
	padding: 10px 15px;
	background-color: khaki;
}

.uncolor{
	background-color: #33d384;
}